{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js"
        ],
        "alias": {
          "src": "./src",
          "screens": "./src/components/screens",
          "underscore": "lodash"
        }
      }
    ]
  ]
}