matrix:
  include:
    - language: node_js
      node_js:
        - '10'
      install:
        - npm install
      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - ./scripts/ci-build-node.sh
    - language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - tools
          - platform-tools
          - build-tools-25.0.3
          - build-tools-25.0.0
          - build-tools-23.0.1
          - build-tools-25.0.2
          - build-tools-26.0.1
          - build-tools-25.0.1
          - build-tools-28.0.3
          - android-25
          - android-23
          - android-26
          - android-28
      before_install:
        - openssl aes-256-cbc -K $encrypted_a533b106a22c_key -iv $encrypted_a533b106a22c_iv -in android/release.properties.enc -out android/release.properties -d
        - nvm install 10
        - node --version
        - npm i -g npm@5.0.3
        - npm --version
        - npm install
      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - travis_retry ./scripts/ci-build-android.sh
