matrix:
  include:
    - name: "Helsingborg Node"
      language: node_js
      node_js:
        - lts/*
      before_install:
        - cd ./cities/Helsingborg
      install:
        - npm install
      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - ./scripts/ci-build-node.sh

    - name: "Lund Node"
      language: node_js
      node_js:
        - lts/*
      before_install:
        - cd ./cities/Lund
      install:
        - npm install
      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - ./scripts/ci-build-node.sh

    - name: "Helsingborg Android"
      language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - tools
          - platform-tools
          - build-tools-25.0.3
          - build-tools-25.0.0
          - build-tools-23.0.1
          - build-tools-25.0.2
          - build-tools-26.0.1
          - build-tools-25.0.1
          - build-tools-28.0.3
          - android-25
          - android-23
          - android-26
          - android-28
      before_install:
        - export ANDROID_HOME=/usr/local/android-sdk
        - export PATH=$PATH:$ANDROID_HOME/emulator
        - export PATH=$PATH:$ANDROID_HOME/tools
        - export PATH=$PATH:$ANDROID_HOME/tools/bin
        - export PATH=$PATH:$ANDROID_HOME/platform-tools
        - cd ./cities/Helsingborg
        - openssl aes-256-cbc -K $encrypted_a533b106a22c_key -iv $encrypted_a533b106a22c_iv -in android/release.properties.enc -out android/release.properties -d
        - nvm install --lts
        - nvm use --lts
        - node --version
        - npm --version
        - npm install

      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - travis_retry ./scripts/ci-build-android.sh

    - name: "Lund Android"
      language: android
      jdk: oraclejdk8
      android:
        components:
          - tools
          - tools
          - platform-tools
          - build-tools-25.0.3
          - build-tools-25.0.0
          - build-tools-23.0.1
          - build-tools-25.0.2
          - build-tools-26.0.1
          - build-tools-25.0.1
          - build-tools-28.0.3
          - android-25
          - android-23
          - android-26
          - android-28
      before_install:
        - export ANDROID_HOME=/usr/local/android-sdk
        - export PATH=$PATH:$ANDROID_HOME/emulator
        - export PATH=$PATH:$ANDROID_HOME/tools
        - export PATH=$PATH:$ANDROID_HOME/tools/bin
        - export PATH=$PATH:$ANDROID_HOME/platform-tools
        - cd ./cities/Helsingborg
        - openssl aes-256-cbc -K $encrypted_a533b106a22c_key -iv $encrypted_a533b106a22c_iv -in android/release.properties.enc -out android/release.properties -d
        - nvm install --lts
        - nvm use --lts
        - node --version
        - npm --version
        - npm install
      before_script:
        - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
      script:
        - travis_retry ./scripts/ci-build-android.sh
